apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: thesa-dev

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: thesa-bff
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 50m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 64Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 500m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
  - target:
      kind: HorizontalPodAutoscaler
      name: thesa-bff
    patch: |
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 3
  - target:
      kind: PodDisruptionBudget
      name: thesa-bff
    patch: |
      - op: replace
        path: /spec/minAvailable
        value: 0

configMapGenerator:
  - name: thesa-bff-env
    behavior: merge
    literals:
      - THESA_OBSERVABILITY_LOG_LEVEL=debug
